@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

/* in src/index.css or a specific component's CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  font-family: "Poppins", sans-serif;
}

.web-marg-top {
  margin-top: 5%;
}

.web-marg-bottom {
  margin-bottom: 5%;
}

/* navbar start */
.nav-logo-bg {
  background-color: rgba(235, 102, 45, 1);
}

.nav-drop {
  cursor: pointer;
}

.nav-drop-toggle {
  color: orange;
}

.nav-eight-position {
  top: -10px;
  left: 12px;
  font-size: 10px;
  padding: 6px 9px;
  background-color: rgba(235, 102, 45, 1);
}

.webButton {
  background-color: rgba(235, 102, 45, 1) !important;
  font-size: 20px !important;
  padding: 11px 41px 14px 41px !important;
}

.webButton:hover {
  box-shadow: 0 12px 16px 0 rgba(235, 102, 46, 0.23), 0 17px 50px 0 rgba(235, 102, 46, 0.23);
}

/* navbar end */
/* Home start */
.hero {
  background-image: url(../public/images/home-bg.png);
  background-position: right;
  background-size: contain;
  padding: 40px 0px;
  background-repeat: no-repeat;
}

.hero-h1-orange {
  color: rgba(235, 102, 45, 1);
}

.width-30px {
  width: 64%;
}

.home-right-food-img {
  width: 85%;
  height: 98%;

}

.video-play {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

/* Home end */

.sec-h4-italic {
  color: rgba(235, 102, 45, 1);
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-weight: 700;
}


/* welcome section */
.welcome-sec {
  margin-top: 5%;
  margin-bottom: 8%;
}

.welcome-sec-h1 {
  font-size: 50px;
}

.welcome-btn {
  color: #EB662D !important;
  border: 2px solid;
}

.welcome-h4 {
  color: rgba(92, 101, 116, 1);
}

.welcome-btn:hover {
  background-color: #EB662D !important;
  color: white !important;
}

/* welcome end */

/* card start */
.card-food {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 85%;
}

.card-food-heart {
  border: 1px solid black;
  border-radius: 0px 30px 0px 30px;
}

.card-food-heart:hover {
  cursor: pointer;
  background-color: #EB662D;
  color: white;
}

.card-food-img {
  margin-left: 60px;
}


.slick-arrow {
  right: 62px;
  left: auto;
  top: 0;
}

.slick-prev {
  right: 120px;
  left: auto;

}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 1;
  opacity: .75;
  color: #ed1717;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  display: none !important;
}


/* servies section start */
.services-card {
  width: 50%;
  color: #EB662D;
}

.services-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  ;
  border-radius: 20px;
}

/* servies section end */


/* morning section start */
.morning-sec {
  background: url(../public/images/morning-sec.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

/* morning section end */


/* Testimonials section start */

.testi-img img {
  width: 80px;
  height: 80px;
}

.testi-img-2 {
  left: 54%;
}

.testi-img-3 {
  left: 58%;
}

/* Testimonials section end */



/* menu section start */
.menu-sec {
  margin-top: 13%;
  background-position: center;
  background-image: url(../public/images/menu-sec.png);
  height: 3300px;
  background-repeat: no-repeat;
}

.menu-logo {
  height: 31px;
}

.menu {
  margin-top: 12% !important;
}

.menu-h1 {
  color: rgba(235, 102, 45, 1);
}

/* menu section end */

/* booking section start */
.booking-margin {
  margin-top: 10%;
  background-image: url(../public/images/booking-sec-bg.png);
  background-repeat: no-repeat;
}

.booking-input {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* booking section end */


/* Footer section start  */
.footer-margin {
  margin-top: 13%;

}

.footer-upper-img {
  top: -202px !important;
  position: absolute;
  z-index: -5;
}

.footer-bg {
  background-image: url(../public/images/footer-bg.png);
  background-size: cover;
}

.footer-first-line {
  padding-top: 12%;
}

.footer-first-line-p {
  font-size: 50px;
}

.footer-input-btn {
  position: relative;
  right: 175px;
  box-shadow: inset 1px 1px 5px #333;
  z-index: 2;
}

.footer-second-line {
  margin-top: 7%;
}

.footer-social i {
  background-image: url(../public/images/footer-social-bg.png);
  width: 58px;
  height: 57px;
  /* background-color: rgba(255, 255, 255, 0.275); */
}

.footer-social i:hover {
  background-image: url(../public/images/footer-social-bg-2.png);
  cursor: pointer;
  color: rgba(235, 102, 45, 1);
  width: 58px;
}

/* Footer section end  */


@media only screen and (max-width: 768px) {}